@charset "UTF-8";
body {
    background-color: black;
    font-family: sans-serif;
    line-height: 1.5em;
    margin-top: 30px;
}
a, h1, p {
    font-size: normal;
    color: #000;
    background-color: rgba(60, 219, 35, 0.526);
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
