@charset "UTF-8";
body {
    background-color: black;
    background-image: url(https://c1.wallpaperflare.com/preview/990/635/740/technology-ui-user-interface-tech.jpg);
    background-size: contain;
    font-family: sans-serif;
    line-height: 2em;
    margin-top: 10px;
    text-align: center;
}
a, p {
    font-size: normal;
    color: #000;
    background-color: rgba(0, 128, 0, 0.885);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}
a:hover {
    background-color: rgb(32, 182, 32);
    border-radius: 20px;
    text-decoration: underline;
    text-shadow: 0px 1px 1px rgba(144, 238, 144, 0.502);
    box-shadow: 0px 0px 10px 0px white;
    border-color: lightgreen;
    transition: text-decoration .2s, background-color .3s, box-shadow .4s, text-shadow .5s, border-color 1s, border-radius 2s;
    text-decoration: none;
}
