@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/*  Esconder a barra de rolagem */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
img {
    width: 100vw;
}
a {
    display: block;
    background-color: darkred;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: -2px;
}
a:hover {
    background-color: red;
    text-decoration: underline;
    transition: background-color .5s, text-decoration 1s;
}
