@charset "UTF-8";
/*  Configurações Gerais
    href="mq002.css" media="all"

*/
* {
    margin: 0px; padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff; /* cor do cursoemvideo */
    background-size: contain;
    background-repeat: no-repeat;

}
h1, p, a {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}